// Units & fonts
// ------------------------------
$base: 16px;
$ratio: 1.4;
$unit: $ratio*1rem;
$font: 'Roboto Mono', monospace;
$tile: 400px;
$w2: $tile*2+$base*$ratio*3;
$w3: $tile*3+$base*$ratio*4;



// Colors
// ------------------------------
$light: #FCFBFA;
$shade: #E2E1E0;
$grey: #929190;
$dark: #424140;


// Helpers
// ------------------------------
@mixin font($c) { font-size: $c*1rem; line-height: $ratio/$c; }

%pointer { cursor: pointer; }
%noselect { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: -moz-none; -ms-user-select: none; user-select: none; }
%ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
%antialiased { -webkit-font-smoothing: antialiased; }

%relative { position: relative; }
%block { display: block; }
%inline-block { display: inline-block; }

%txt-center { text-align: center; }
%txt-left { text-align: left; }
%small { @include font(.75); }
%uppercase { text-transform: uppercase; }
%medium { font-weight: 500; }
%bold { font-weight: 700; }

%align-middle { vertical-align: middle; }
%icon { @extend %inline-block; width: 1em; height: auto; }



// Common
// ------------------------------
* { box-sizing: border-box; margin: 0; padding: 0; }
// html, body { height: 100%; }
html { font-size: $base / 16px * 100%; }
body { background: $light; font: 1rem $font; line-height: $ratio; color: $dark; }
a { text-decoration: underline; color: $dark; &:hover { text-decoration: none; }}
  // #app { width: 320px; margin: auto; }

.nav {
  @extend %txt-center;
  position: fixed; top: 0; left: 0; right: 0; z-index: 100;
  overflow: hidden; height: $unit*2;
  background: $light; box-shadow: inset 0 -1px 0 rgba($dark,.1);
}
.nav-wrap { @extend %inline-block, %txt-left; min-width: 100%; max-width: 100%; height: $unit*5; padding: 0 $unit $unit*2; }
@media ( min-width: $w2 ) { .nav-wrap { min-width: $w2; } }
@media ( min-width: $w3 ) { .nav-wrap { min-width: $w3; } }

.nav-tabs { @extend .nav-wrap, %relative; overflow: scroll; white-space: nowrap; font-size: 0; }
%nav-tab {
  @extend %pointer, %inline-block, %small, %medium;
  height: $unit*2; padding: $unit/2;
  border: 0; outline: none; background: transparent;
  line-height: $unit;
}
.nav-tab { @extend %nav-tab; color: $grey; }
.nav-tab-current { border-bottom: 1px solid rgba($dark,.6); color: $dark; }
.nav-tab-icon { @extend %icon, %align-middle; margin-right: $unit/4; }
.nav-tab-wait { @extend .nav-tab-icon; fill: $shade; }
.nav-tab-name { @extend %align-middle, %uppercase; }

.nav-settings { @extend .nav-wrap; }
.nav-settings-btn { @extend %nav-tab; width: $unit*2; float: left; }
.nav-settings-icon { @extend %icon, %align-middle; fill: $dark; font-size: 1rem; }
.nav-settings-search {
  @extend %inline-block, %small;
  width: calc(100% - #{$unit*2});
  height: $unit*3/2; margin-top: $unit/4; padding: 0 $unit 0 $unit*2;
  border: 0; outline: none;
  background: $shade 11px center no-repeat url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='#929190' d='M9.516 14.016q1.875 0 3.188-1.313t1.313-3.188-1.313-3.188-3.188-1.313-3.188 1.313-1.313 3.188 1.313 3.188 3.188 1.313zM15.516 14.016l4.969 4.969-1.5 1.5-4.969-4.969v-0.797l-0.281-0.281q-1.781 1.547-4.219 1.547-2.719 0-4.617-1.875t-1.898-4.594 1.898-4.617 4.617-1.898 4.594 1.898 1.875 4.617q0 2.438-1.547 4.219l0.281 0.281h0.797z'/></svg>");
  line-height: $unit*3/2; font-family: $font; color: $dark;
}



// App
// ------------------------------
.wrap { max-width: $w3; margin: auto; padding: 0 $unit/2; }

.board { @extend %txt-center; }
.board-header { margin: $unit*6 $unit/2 $unit*3; }
.board-logo { @extend %inline-block; width: $unit*3; height: auto; margin-bottom: $unit*3; fill: $shade; }
.board-title { @include font(1.5); margin-bottom: $unit*3/2; color: $dark; }
.board-welcome { margin-bottom: $unit/2; color: $grey; }
.board-link { @extend %small, %uppercase, %bold; margin: 0 $unit/4; }
.board-tiles { font-size: 0; }
%board-footer { max-width: $tile; margin: $unit*2 auto $unit*5; }
.board-footer {
  @extend %board-footer, %small; color: $grey;
  &:before { @extend %block; content: '—'; color: $shade; }
}
.board-sleep { @extend %board-footer; }
.board-sleep-icon { @extend %icon; margin-bottom: $unit; fill: $dark; @include font(2); }

.tile { @extend %inline-block; width: 100%; max-width: calc(#{$tile} + #{$unit}); padding: 0 $unit/2 $unit; text-decoration: none; font-size: 1rem; }
.tile-wrap { @extend %block, %relative; width: 100%; padding-bottom: 75%; background: #FFF center no-repeat url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='#E2E1E0' d='M23 18V6c0-1.1-.9-2-2-2H3c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2zM8.5 12.5l2.5 3.01L14.5 11l4.5 6H5l3.5-4.5z'/></svg>"); }
%tile-img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.tile-bg { @extend %tile-img; background-size: cover; background-position: center; background-repeat: none; }
.tile-img { @extend %tile-img; border: 0; opacity: 0; }
.tile-info { @extend %block, %txt-left, %ellipsis, %small; line-height: $unit*2; color: $dark; }
.tile-icon { @extend %icon, %align-middle; margin-right: $unit/4; }
.tile-date { @extend %align-middle; color: $grey; }
.tile-title { @extend %align-middle; }

.feeds { margin: $unit*4 auto $unit*2; padding: 0 $unit/2; }
@media ( min-width: $w2 ) { .feeds { max-width: $w2; } }
@media ( min-width: $w3 ) { .feeds { max-width: $w3; } }
.feeds-header { margin-bottom: $unit*2; color: $grey; p { margin-bottom: $unit/2; } }
.feed { @extend %block, %pointer, %ellipsis; margin-bottom: 2px; padding: 0 $unit 0 $unit/2; background: $shade; line-height: $unit*2; }
.feed-icon { @extend %icon, %align-middle; fill: $grey; }
.feed-name { @extend %align-middle; }
.feed-tags { @extend %align-middle, %small; display: none; color: $grey; }
@media ( min-width: $w3 ) { .feed-tags { display: inline; } }



// JS enabled
// ------------------------------
#app { display: none; }
#no-js { @extend %board-footer, %txt-center; }
