* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body, .wrapper, .menu, .board {
  height: 100%; }

body {
  background: #f1f0ec;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #121110; }

.wrapper {
  overflow: hidden;
  position: relative;
  background: #121110; }

a {
  text-decoration: none;
  color: #121110; }

.noselect {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none; }

.ellipsis, .menu-feed, .item-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.bold {
  font-weight: bold; }

.txtcenter, .menu-btn, .nav-reset, .board {
  text-align: center; }

.transition, .menu, .menu-feed, .nav-feed a, .board-overlay, .board, .item, .item-img, .item-title {
  -webkit-transition: all 0.5s cubic-bezier(0.3, 0.5, 0.2, 1);
  transition: all 0.5s cubic-bezier(0.3, 0.5, 0.2, 1); }

.logo {
  display: block;
  margin: 16.8px auto; }

.menu {
  z-index: 10;
  opacity: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  padding: 13.2px 0;
  background: #121110;
  color: #f1f0ec;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0); }
  .menu p {
    margin: 16.8px 0;
    padding: 0 30px; }
    .menu p.search {
      padding: 0 15px; }
    .menu p a {
      color: #f1f0ec; }
      .menu p a:hover, .menu p a:focus {
        text-decoration: underline; }
  .menu hr {
    display: block;
    margin: -1px 30px 0;
    border: 0 solid #2d2b28;
    border-bottom-width: 1px; }

.menu-feeds {
  margin: 16.8px 0;
  padding: 0 24px;
  line-height: 25.2px;
  list-style: none; }

.menu-feed {
  position: relative;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 2px 6px;
  border-radius: 2px;
  line-height: 1;
  color: #f1f0ec; }

.menu-selected {
  background: #f1f0ec;
  font-weight: bold;
  color: #121110; }

.narration {
  color: #97918a;
  font-style: italic; }

.search-input {
  width: 100%;
  height: 33.6px;
  padding: 0 15px;
  border: 0;
  border-radius: 2px;
  background: #f1f0ec;
  font: bold 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 33.6px;
  color: #484440; }
  .search-input:hover, .search-input:focus {
    outline: none;
    color: #121110; }
  .search-input::-webkit-input-placeholder {
    color: #919191; }
  .search-input::-moz-placeholder {
    color: #919191; }
  .search-input:-moz-placeholder {
    color: #919191; }
  .search-input:-ms-placeholder {
    color: #919191; }

.nav {
  overflow: hidden;
  height: 37.5px;
  margin: 15px;
  line-height: 37.5px;
  border-bottom: 1px solid #e6e4dd; }

.menu-btn {
  display: block;
  float: left;
  width: 37.5px;
  height: 100%;
  font-size: 12px;
  color: #121110; }

.nav-reset {
  display: block;
  float: left;
  width: 45px;
  height: 100%;
  font-size: 12px;
  color: #121110; }

.nav-feeds-box {
  position: relative;
  height: 37.5px;
  margin-left: 82.5px; }
  .nav-feeds-box:after, .nav-feeds-box:before {
    z-index: 10;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 5px 5px #f1f0ec; }
  .nav-feeds-box:before {
    left: 0; }
  .nav-feeds-box:after {
    right: 0; }

.nav-feeds {
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  height: 67.5px;
  padding: 0 7.5px 30px;
  list-style: none;
  white-space: nowrap;
  font-weight: bold;
  text-align: left; }

.nav-feed {
  display: inline-block;
  padding: 0 7.5px;
  font-size: 12px; }
  .nav-feed a {
    color: #5e5e5e; }
  .nav-feed.nav-current a {
    color: #121110; }

.board-overlay {
  z-index: 300;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(241, 240, 236, 0.6); }

.board {
  z-index: 100;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background: #f1f0ec;
  font-size: 0; }

.item {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  width: 300px;
  height: 225px;
  margin: 15px 0;
  border-radius: 2px;
  background: white;
  text-align: left;
  vertical-align: top; }

.item-img {
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: center center no-repeat;
  background-size: cover; }
  .item-img img {
    display: none; }

.item-title {
  z-index: 10;
  position: absolute;
  bottom: -2px;
  left: -2px;
  right: -2px;
  height: 39.6px;
  padding: 6px 2px 2px;
  background: #f1f0ec;
  font-weight: bold;
  font-size: 12px;
  color: #484440; }

.item-info {
  color: #919191;
  font-weight: normal;
  font-size: 11px; }

.intro {
  padding: 30px;
  background: #121110;
  font-size: 12px;
  color: #f1f0ec; }

.end {
  padding: 15px;
  font-style: italic;
  font-size: 12px;
  color: #919191; }

@media screen and (min-width: 570px) {
  .menu-feed:hover, .menu-feed:focus {
    background: #f1f0ec;
    font-weight: bold;
    color: #121110; }

  .menu-selected {
    opacity: .7; }
    .menu-selected:hover, .menu-selected:focus {
      opacity: .2;
      -webkit-transform: translate3d(3px, 0, 0);
      transform: translate3d(3px, 0, 0); }

  .nav-feed a:hover, .nav-feed a:focus {
    color: #121110; }

  .item {
    margin: 15px; }
    .item:hover .item-title, .item:focus .item-title {
      -webkit-transform: translate3d(0, 39.6px, 0);
      transform: translate3d(0, 39.6px, 0); }
    .item:hover .item-img, .item:focus .item-img {
      opacity: .8;
      -webkit-transform: scale(1.1) rotate(-2deg);
      transform: scale(1.1) rotate(-2deg);
      -webkit-transition: all 9s;
      transition: all 9s; }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0; }

    100% {
      opacity: 1; } }

  @keyframes fadeIn {
    0% {
      opacity: 0; }

    100% {
      opacity: 1; } }

  .fade-in {
    -webkit-animation: fadeIn .3s backwards;
    animation: fadeIn .3s backwards; } }
#menu-token:checked ~ .wrapper .menu {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

#menu-token:checked ~ .wrapper .board, #menu-token:checked ~ .wrapper .board-overlay {
  -webkit-transform: translate3d(240px, 0, 0);
  transform: translate3d(240px, 0, 0); }

#menu-token:checked ~ .wrapper .board {
  overflow: hidden; }

#menu-token:checked ~ .wrapper .board-overlay {
  opacity: 1;
  visibility: visible; }

.yoggrt {
  padding: 15px;
  background: white;
  text-align: center; }

body .one .bsa_it_ad, body .one .bsa_it_ad .bsa_it_i, body .one .bsa_it_ad .bsa_it_t, body .one .bsa_it_ad .bsa_it_d {
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent; }

body .one .bsa_it_ad, body .one .bsa_it_ad .bsa_it_i {
  margin-bottom: 15px; }

body .one .bsa_it_ad .bsa_it_d {
  font-size: 12px;
  color: #333; }

body .one .bsa_it_p {
  display: none; }

body #bsap_aplink {
  font-size: 10px; }
