$base: 12px;
$ratio: 1.4;
$gap: 30px;
$light: #F1F0EC;
$dark: #121110;
$font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$breakpoint: $gap*19;



// Common
// ------------------------------
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }
html, body, .menu { height: 100%; }
body { background: $light; font: $base $font; line-height: $ratio; color: $dark; }
a { text-decoration: none; color: $dark; }
.noselect { cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: -moz-none; -ms-user-select: none; user-select: none; }
.ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.bold { font-weight: bold; }
.txtcenter { text-align: center; }
.transition { -webkit-transition: opacity .5s cubic-bezier(.3,.5,.2,1) -webkit-transform .5s cubic-bezier(.3,.5,.2,1); transition: opacity .5s cubic-bezier(.3,.5,.2,1), transform .5s cubic-bezier(.3,.5,.2,1); }
.progress { z-index: 9999; opacity: 0; position: fixed; top: 0; left: 0; width: 0; height: 2px; border-radius: 0 1px 1px 0; background: $dark; }
.progress:after { content: ''; position: absolute; top: 0; right: 0; width: 100px; height: 100%; box-shadow: 0 0 10px $dark, 0 0 5px $dark; -webkit-transform: rotate(3deg) translate(0px, -4px); -ms-transform: rotate(3deg) translate(0px, -4px); transform: rotate(3deg) translate(0px, -4px); }



// Menu
// ------------------------------
.logo { display: block; margin: $base*$ratio auto; }
.menu {
  opacity: .2; overflow: hidden;
  position: fixed; top: 0; left: 0;
  width: $gap*8; padding: ($gap - $base*$ratio) 0;
  background: $dark;
  color: $light;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  @extend .transition;

  p {
    margin: $base*$ratio 0; padding: 0 $gap; color: lighten($dark, 50%);
    &.search { padding: 0 $gap/2; }
    a {
      color: $light;
      &:hover, &:focus { text-decoration: underline; }
    }
  }
  hr { display: block; margin: -1px $gap 0; border: 0 solid lighten($dark, 10%); border-bottom-width: 1px; }
}
.menu-wrapper { width: $gap*8+30; padding-right: 30px; height: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; }
.narrative { font-style: italic; }
.menu-feeds {
  margin: $base*$ratio 0; padding: 0 $gap*4/5;
  line-height: $base*$ratio*3/2; list-style: none;
}
.menu-feed {
  position: relative; left: 0; display: inline-block;
  width: 100%; padding: 2px $gap/5;
  border-radius: 2px;
  line-height: 1; color: $light;
  @extend .ellipsis, .transition;
}
.menu-selected { background: $light; font-weight: bold; color: $dark; }
.search-input {
  width: 100%; height: $base*$ratio*2; padding: 0 $gap/2;
  border: 0; border-radius: 2px; background: $light;
  font: bold $base $font; line-height: $base*$ratio*2; color: lighten($dark, 20%);

  &:hover, &:focus { outline: none; color: $dark; }
  &::-webkit-input-placeholder { color: desaturate(lighten($dark, 50%), 20%); }
  &::-moz-placeholder { color: desaturate(lighten($dark, 50%), 20%); }
  &:-moz-placeholder { color: desaturate(lighten($dark, 50%), 20%); }
  &:-ms-placeholder { color: desaturate(lighten($dark, 50%), 20%); }
}



// Navigation
// ------------------------------
.nav {
  position: relative;
  height: $gap*5/4; margin: $gap/2 0;
  line-height: $gap*5/4;
  &:after { content: ""; position: absolute; left: 0; right: 0; bottom: 0; border-bottom: 1px solid rgba($dark, .05); }
  label, a { color: desaturate(lighten($dark, 30%), 20%); @extend .transition; }
}
.menu-btn {
  @extend .txtcenter;
  display: block; float: left;
  width: $gap*5/4; height: 100%;
  font-size: $base;
}
.nav-feeds-box {
  position: relative; overflow: hidden;
  height: $gap*5/4; margin-left: $gap*(5/4+3/2);
  &:after, &:before { z-index: 10; content: ""; position: absolute; top: 0; width: 8px; bottom: 1px; }
  &:before {
    left: 0;
    background: -webkit-linear-gradient(left, rgba(241,240,236,1) 0%,rgba(241,240,236,1) 30%,rgba(241,240,236,0.01) 100%);
    background: linear-gradient(to right, rgba(241,240,236,1) 0%,rgba(241,240,236,1) 30%,rgba(241,240,236,0.01) 100%);
  }
  &:after {
    right: 0;
    background: -webkit-linear-gradient(right, rgba(241,240,236,1) 0%,rgba(241,240,236,1) 30%,rgba(241,240,236,0.01) 100%);
    background: linear-gradient(to left, rgba(241,240,236,1) 0%,rgba(241,240,236,1) 30%,rgba(241,240,236,0.01) 100%);
  }
}
.nav-feeds {
  overflow-y: hidden; overflow-x: scroll; -webkit-overflow-scrolling: touch;
  height: $gap*5/4+30; padding: 0 $gap/4;
  list-style: none; white-space: nowrap; font-weight: bold;
  text-align: left;
}
.nav-feed {
  @extend .transition;
  display: inline-block; height: $gap*5/4; padding: 0 $gap/4; font-size: $base;
  border-bottom: 1px solid transparent;
}
.nav-reset {
  @extend .nav-feed, .txtcenter, .transition, .bold;
  float: left; width: $gap*3/2; padding: 0;
}
.nav-current {
  position: relative; border-bottom-color: rgba($dark, .3);
  a { color: $dark; }
}


// Board
// ------------------------------
.board-overlay {
  z-index: 300; visibility: hidden; opacity: 0; cursor: pointer;
  position: fixed; top: 0; bottom: 0; left: $gap*8; right: 0;
}
.board {
  max-width: $gap*11*5+$gap; margin: auto; padding: $gap/2;
  background: $light;
  font-size: 0;
  @extend .transition, .txtcenter;
}
.item {
  position: relative; display: inline-block; overflow: hidden;
  max-width: 100%; width: $gap*10; height: $gap*10*3/4; margin: $gap/2 0;
  border-radius: 2px; background: lighten($light, 10%);
  text-align: left; vertical-align: top;
  @extend .transition;
}
.item-img {
  position: absolute; top: -2px; left: -2px; right: -2px; bottom: -2px;
  background: center center no-repeat; background-size: cover;
  -webkit-transform: none; transform: none;
  @extend .transition;
}
.item-title {
  @extend .ellipsis;
  position: absolute; bottom: 0; left: 0; right: 0;
  height: $base*($ratio*2+1/2); padding: $base/2 2px 2px;
  background: $light;
  font-weight: bold; font-size: $base; color: lighten($dark, 20%);
  -webkit-transform: none; transform: none;
  @extend .transition;
}
.item-info { color: desaturate(lighten($dark, 50%), 20%); font-weight: normal; font-size: $base - 1; }
.end { padding: $gap/2; font-style: italic; font-size: $base; color: desaturate(lighten($dark, 50%), 20%); }



// Effects
// ------------------------------
@media screen and ( min-width: $breakpoint ) {
  .menu-feed { &:hover, &:focus { background: $light; font-weight: bold; color: $dark; }}
  .menu-selected { opacity: .7; &:hover, &:focus { opacity: .2; -webkit-transform: translate3d($base/4, 0, 0); transform: translate3d($base/4, 0, 0); }}
  .nav { margin: $gap/2; label, a { &:hover, &:focus { color: $dark; }}}
  .item { margin: $gap/2;
    &:hover, &:focus {
      .item-img { opacity: .8; -webkit-transform: scale(1.1) rotateZ(-2deg); transform: scale(1.1) rotateZ(-2deg); -webkit-transition: opacity 9s, -webkit-transform 9s; transition: opacity 9s, transform 9s; }
      .item-title { -webkit-transform: translate3d(0, $base*($ratio*2+1/2), 0); transform: translate3d(0, $base*($ratio*2+1/2), 0); }
    }
  }
}



// Sidebar open
// ------------------------------
#menu-token:checked ~ .wrapper {
  height: 100%; overflow: hidden;
  .menu { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  .board-overlay { opacity: 1; visibility: visible; }
  .board { opacity: 0.4; -webkit-transform: translate3d($gap*8, 0, 0); transform: translate3d($gap*8, 0, 0); }
}



// Yoggrt.com Ad
// ------------------------------
.yoggrt { padding: $gap $gap/2 $gap/2; background: lighten($light, 10%); text-align: center; }
body .one .bsa_it_ad, body .one .bsa_it_ad .bsa_it_i, body .one .bsa_it_ad .bsa_it_t, body .one .bsa_it_ad .bsa_it_d { display: block; float: none; margin: 0; padding: 0; border: none; background: transparent; }
body .one .bsa_it_ad, body .one .bsa_it_ad .bsa_it_i { margin-bottom: $gap/2; }
body .one .bsa_it_ad .bsa_it_d { font-size: 12px; color: #333; }
body .one .bsa_it_p { display: none; }
body #bsap_aplink { font-size: 10px; }
