<!-- Aboard.io by Nicolas Torres: github.com/noclat (MIT license) -->
<!DOCTYPE html>
<meta charset='utf-8'>
<title>Aboard — Inspiration board</title>
<meta name='description' content='Aboard is an inspiration board for artists and designers which let you combine the most beautiful RSS feeds from the Web.'>
<meta name='author' content='Nicolas Torres'>
<meta name='robots' content='index, follow'>
<meta name='viewport' content='initial-scale=1.0,maximum-scale=1.0,user-scalable=no'>
<meta name='og:title' content='Aboard — Inspiration board'>
<meta name='og:description' content='Aboard is an inspiration board for artists and designers which let you combine the most beautiful RSS feeds from the Web.'>
<meta name='og:image' content='http://aboard.io/facebook.png'>
<link href='app.css?d=2015-12-23' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700' rel='stylesheet' type='text/css'>
<link rel='icon' type='image/x-icon' href='favicon.png'>
<link rel='apple-touch-icon-precomposed' href='icon.png'>



<!-- App -->
<main id='app'>

  <!-- nav -->
  <nav class='nav'>
    <!-- select feeds -->
    <div class='nav-settings' v-show='settings'>
      <button class='nav-settings-btn' v-if='settings' @click.stop='settings = false'>
        <svg class='nav-settings-icon' width='24' height='24' viewBox='0 0 24 24'><path d='M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z'/></svg>
      </button>
      <input type='text' class='nav-settings-search' id='search' v-model='search' placeholder='Filter feeds…'>
    </div>

    <!-- browse feed -->
    <div v-else class='nav-tabs' id='nav'>
      <button class='nav-settings-btn' @click.stop='settings = true'>
        <svg class='nav-settings-icon' width='24' height='24' viewBox='0 0 24 24'><path d='M12 10.9c-.61 0-1.1.49-1.1 1.1s.49 1.1 1.1 1.1c.61 0 1.1-.49 1.1-1.1s-.49-1.1-1.1-1.1zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm2.19 12.19L6 18l3.81-8.19L18 6l-3.81 8.19z'/></svg>
      </button>
      <button class='nav-tab' id='feed-false' :class='{ "nav-tab-current": current == false }' @click.stop='setCurrent(false)'>
        <span class='nav-tab-name'>All</span>
      </button>
      <button class='nav-tab' id='feed-{{ feed.id }}' :class='{ "nav-tab-current": feed.id == current }' v-for='feed in feeds | feedsOn | orderBy "name"' @click.stop='setCurrent(feed.id)'>
        <img v-show='loaded.indexOf(feed.id) > -1' class='nav-tab-icon' src='http://www.google.com/s2/favicons?domain={{ feed.domain }}' width='16' height='16' alt='{{ item.source }}'>
        <svg v-else class='nav-tab-wait' width='24' height='24' viewBox='0 0 24 24'><path d='M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z'/></svg>
        <span class='nav-tab-name'>{{ feed.name }}<span v-if='feed.mature == "1"'>*</span></span>
      </button>
    </div>
  </nav>


  <!-- body -->
  <section class='wrap'>
    <!-- feeds selection -->
    <section class='feeds' v-if='settings'>
      <header class='feeds-header'>
        <p>Your favorite RSS feed is missing? Please send it to me and I'll do my best to add it fast: <a href='mailto:captain@aboard.io'>captain@aboard.io</a>.</p>
        <p class='feeds-header-warning'>*may contain adult content.</p>
      </header>
      <label class='feed' v-for='feed in feeds | filterBy search in "name" "tags" | orderBy "name"'>
        <input type='checkbox' value='{{ feed.id }}' v-model='hashlist' @click='toggleFeed(feed.id)' v-show='false'>
        <svg v-if='hashlist.indexOf(feed.id) > -1' class='feed-icon' width='24' height='24' viewBox='0 0 24 24'><path d='M9.984 17.016l9-9-1.406-1.453-7.594 7.594-3.563-3.563-1.406 1.406zM18.984 3q0.844 0 1.43 0.609t0.586 1.406v13.969q0 0.797-0.586 1.406t-1.43 0.609h-13.969q-0.844 0-1.43-0.609t-0.586-1.406v-13.969q0-0.797 0.586-1.406t1.43-0.609h13.969z'/></svg>
        <svg v-else class='feed-icon' width='24' height='24' viewBox='0 0 24 24'><path d='M18.984 3q0.797 0 1.406 0.609t0.609 1.406v13.969q0 0.797-0.609 1.406t-1.406 0.609h-13.969q-0.797 0-1.406-0.609t-0.609-1.406v-13.969q0-0.797 0.609-1.406t1.406-0.609h13.969zM18.984 5.016h-13.969v13.969h13.969v-13.969z'/></svg>
        <span class='feed-name'>{{ feed.name }}<span v-if='feed.mature == "1"'>*</span></span>
        <span class='feed-tags'>{{ feed.tags }}</span>
      </label>
    </section>

    <!-- board -->
    <section class='board' v-else>
      <header class='board-header'>
        <svg class='board-logo' width='180' height='180' viewBox='0 0 24 24'><path d='M20 21c-1.39 0-2.78-.47-4-1.32-2.44 1.71-5.56 1.71-8 0C6.78 20.53 5.39 21 4 21H2v2h2c1.38 0 2.74-.35 4-.99 2.52 1.29 5.48 1.29 8 0 1.26.65 2.62.99 4 .99h2v-2h-2zM3.95 19H4c1.6 0 3.02-.88 4-2 .98 1.12 2.4 2 4 2s3.02-.88 4-2c.98 1.12 2.4 2 4 2h.05l1.89-6.68c.08-.26.06-.54-.06-.78s-.34-.42-.6-.5L20 10.62V6c0-1.1-.9-2-2-2h-3V1H9v3H6c-1.1 0-2 .9-2 2v4.62l-1.29.42c-.26.08-.48.26-.6.5s-.15.52-.06.78L3.95 19zM6 6h12v3.97L12 8 6 9.97V6z'/></svg>
        <h1 class='board-title'>Welcome aboard!</h1>
        <p class='board-welcome'>The most inspiring feeds in a single place.</p>
        <a class='board-link' href='https://github.com/noclat/aboard.io#aboard'>About</a>
        <a class='board-link' href='https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=captain%40aboard%2eio&lc=FR&item_name=aboard%2eio&currency_code=EUR&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted'>Donate</a>
      </header>
      <section class='board-tiles' id='board'>
        <article class='tile' v-for='item in items | matchFeed current | orderBy "date" -1 | limitBy 100'>
          <figure class='tile-wrap'>
            <div class='tile-bg' data-src='{{ item.image }}'></div>
            <a :href='item.url' target='_blank'><img class='tile-img' data-src='{{ item.image }}' width='400' height='300' alt='{{ item.title }} by {{ item.author }} on {{ item.source }}'></a>
          </figure>
          <header class='tile-info'>
            <img class='tile-icon' src='http://www.google.com/s2/favicons?domain={{ item.source }}' width='16' height='16' alt='{{ item.source }}'>
            <time class='tile-date' datetime='{{ item.date | datetime }}'>{{ item.date | day }}</time>
            <span class='tile-title'>{{ item.title }} <span v-if='item.author'>by {{ item.author }}</span></span>
          </header>
        </article>
      </section>
      <footer v-if='items.length' class='board-footer'>
        <p>You have reached the horizon…<br><a href='#' @click.prevent='settings=true'>Find new feeds?</a></p>
      </footer>
    </section><!-- end of board -->
  </section><!-- end of body -->
</main>



<!-- JS not loaded -->
<section id='no-js'>
  <p>An error occured while loading JavaScript. Please enable JavaScript in your browser setting, or try to <a href='http://aboard.io'>refresh the page</a>.
</section>



<!-- Scripts -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-43254126-1', 'aboard.io'); ga('send', 'pageview');
</script>
<script src='https://cdn.jsdelivr.net/vue/1.0.12/vue.min.js'></script>
<script src='https://cdn.jsdelivr.net/vue.resource/0.5.1/vue-resource.min.js'></script>
<script src='app.js?d=2015-12-23'></script>
